<div class="row form staff" style="min-height: 40em">
<div class="row">

<!--  one order-->
  <div class="col-md-4 one_order">
    <div class="row">
      <div class="col-md-3 table_place">
        <h4>Номер стола</h4>
        <h2>4</h2>
        <div class="order_time">
          12:53
        </div>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Салат греческий</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 1</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Чай зеленый</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 3</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Борщ</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3>Стоимость</h3>
      </div>
      <div class="col-md-4">
        <h3>23.0 руб</h3>
      </div>
    </div>
    <div class="row buttons_in_staff">
      <div class="col-md-6">
        <button class="btn btn-dark">
          ПРИНЯТО
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark">
          ДОБАВИТЬ БЛЮДО
        </button>
      </div>
    </div>
  </div>

<!--  too order-->
  <div class="col-md-4 one_order">
    <div class="row">
      <div class="col-md-3 table_place">
        <h4>Номер стола</h4>
        <h2>1</h2>
        <div class="order_time">
          13:11
        </div>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Салат "Цезарь"</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 1</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Капучино</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Торт "Медовый"</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Сок Rich апельсиновый</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>

    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3>Стоимость</h3>
      </div>
      <div class="col-md-4">
        <h3>27.0 руб</h3>
      </div>
    </div>
    <div class="row buttons_in_staff">
      <div class="col-md-6">
        <button class="btn btn-dark">
          ПРИНЯТО
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark">
          ДОБАВИТЬ БЛЮДО
        </button>
      </div>
    </div>
  </div>

<!--  three order-->
  <div class="col-md-4 one_order">
    <div class="row">
      <div class="col-md-3 table_place">
        <h4>Номер стола</h4>
        <h2>2</h2>
        <div class="order_time">
          14:45
        </div>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Винегрет</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 3</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Чай зеленый</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 3</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Торт "Наполеон"</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3 class="italic">Борщ</h3>
      </div>
      <div class="col-md-4">
        <h3>Кол-во: 2</h3>
      </div>
      <div class="col-md-1">
        <h3 class="close">&times;</h3>
      </div>
    </div>
    <div class="row dishes_in_orders">
      <div class="col-md-6">
        <h3>Стоимость</h3>
      </div>
      <div class="col-md-4">
        <h3>33.0 руб</h3>
      </div>
    </div>
    <div class="row buttons_in_staff">
      <div class="col-md-6">
        <button class="btn btn-dark">
          ПРИНЯТО
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark">
          ДОБАВИТЬ БЛЮДО
        </button>
      </div>
    </div>
  </div>

</div>

</div>