<div class="row forms">
  <div class='col-md-offset-4 col-md-4'>
<!--    icon(:url => url_for(:controller => "admin/projects", :action => "edit", :id => @project),-->
<!--    :type => :edit)-->
    <%= simple_form_for @table, url: 'set_table/:table_id', action: 'set_table' do |f| %>

      <p>
        <%= f.input :id, collection: @tables.ids,label: 'Выберете стол', input_html: {class: 'input2'} %>

      </p>

      <p>
        <%= f.submit 'OK', :class => 'btn btn-warning ok' %>
      </p>
    <% end %>
  </div>
</div>