<div class='row' style="min-height: 40em">
  <div class="col-xs-3"></div>
  <div class='col-xs-6 text-center'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <h3>Вы можете заказать товар в количестве: <%= @product.amount %> </h3>

    <%= simple_form_for @order, url: product_orders_path(@product, @order) do |f| %>

        <p>
          <%= f.input :amount, collection: 1..@product.amount, hint: 'Введите желаемое количество товара',selected: 1, input_html: { class: 'input2' }%>
        </p>

        <p>
          <%= f.submit 'Save', data: {confirm: 'Товар добавлен в корзину'} %>
        </p>
    <% end %>
  </div>
</div>