<div class="row form">
  <div class='col-md-offset-4 col-md-4'>

    <%= simple_form_for @tables, url: tables_path do |f| %>

      <p>
        <%= f.input :table_id, collection: 1..@tables.length, input_html: {class: 'input2'} %>
      </p>

      <p>
        <%= f.submit 'OK', :class => 'btn btn-warning ok' %>
      </p>
    <% end %>
  </div>
</div>