<div class="forms criteria_new" style="min-height: 10em">
  <%= simple_form_for @criterions, post: criterions_path do |f| %>
  <div class="row criterions">
    <div class="form-row">
      <div class="form-group col-md-4 col-md-offset-2">
        <label for="inputCity">Максимальный вес</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Искать по</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Белки</option>
          <option>Жиры</option>
          <option>Углеводы</option>
          <option>Калории</option>
        </select>
      </div>
  </div>
    <p>
      <%= f.submit 'OK', :class => 'btn btn-warning ok' %>
    </p>
  <% end %>
</div>
</div>

