.slide{
  width: 100%;
}

.list-group{
  background-color: #fff3b1;
}

.list-group h3{
  color: #000;
}

.list-group p{
  color: #000;
}
.list-group-item{
  background-color: #fff3b1;
}

.list-group-item a{
  background-color: #fff3b1;
  color: #0c1a1e;
}

.fon{
  background-color: rgba(0, 0, 0, 0.7);;
}

button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px sandybrown inset;
  transition: 0.2s;
}

.button7:hover { background: sandybrown; }

.button7:active {
  background: sandybrown;
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.image_prod{
  width: 95%;
  margin: 3%;
}

.button1 {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}

.button1:active {
  top: 1px;
  box-shadow: none;
}

.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.backet{
  width: 100px;
  height: 80px;
  padding-right: 20px;
}

.image_admin{
  width: 100%;
  height: 230px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;

}
.js .to-animate, .js
.to-animate-2 {
  opacity: 0;
}

.row-padded {
  padding-bottom: 40px;
}

a{
  color: #fff3b1
}

.label{
  color: #eeeeee;
  font-size: inherit;
}

.input{
  color: #eeeeee;
  border-color: #eeeeee;
}


.button8{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1.5em 8em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}
a.button8:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.button8:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


.buy a{
  color: black;
}
.buy2 a{
  color: #B00100;
}

.save{
  color: black;
}


.buy7 a{
  color: #B00100;
  font-style: italic;
}

.categories{
  background-color: rgba(0,0, 0, 0.7);
  padding: 0;
  position: relative;
  padding-bottom: 100%;
}

.categories a {
  text-decoration: none;
  color: white;
}

.categories a:hover {
  color: white;
}

.namecategories{
  color: white;
  font-size: 2em !important;
}
hr{
  margin: 0;
}

.categories ul {
  width: 100%;
  height: 100%;
  padding-left: 0;
  text-align: center;
  //position: fixed;
}

.categories ul li {
  width: 100%;
  font-size: 1.5em;
  padding: 5%;
  text-decoration: none;
  list-style-type: none;
}

.categories ul li:hover{
  background-color: #0c1a1e;
}

.row{
  margin-left: 0;
}

.rowfordish{
  height: auto;
}

.carcasfordish{
  height: 100%;
}

.categoriesName{
font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  color: white;

}

.dish{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 3%;
  border-radius: 5%;
}

.btn-warning:active{
  background-color: #d58512;
}

.dish h3, .dish p{
  margin: 3%;
}

.dish h3{
  text-align: center;
}

.dish p {
  font-style: italic;
}

.characteristic div{
  padding-left: 9%;
  font-size: 0.9em;
}

.namecharacteristic{
  font-size: 0.9em;
  font-size: 0.9em;
}


.ingredients{
  text-align: center;
}

.price h4{
  width: 100%;
  text-align: center;
  margin-left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
}

.formForCountPerson{
  position: fixed;
  //width: 40%;
  height: auto;
  padding: 7%;
  background-color: white;
  z-index: 20;
  left: 50%;
  top: 50%;
  border: #0c1a1e double;
  border-radius: 2%;
  transform: translate(-50%, -50%);
  display: none;
}

.formForCountPerson h5{
  font-size: 1.7em;
  margin-bottom: 5%;
}
.formForCountPerson input {
  width: 100%;
  border: black 1px solid;
}

.close{
  position: absolute;
  right: 3%;
  top: 3%;
}

.formForCountPerson button{
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 4%;
}

