
<div id="fh5co-type forms">
  <div class="container categories_form" >
    <div class="col-md-offset-4 col-md-4">
    <%= simple_form_for @category do |f| %>
        <p>
          <%= f.input :name,  input_html: { class: 'input' },  label_html: { class: 'label' } %>
        </p>

        <p class="text-center">
          <%= f.submit 'Save', :class => 'btn btn-warning' %>
        </p>
    <% end %>
  </div>
</div>
</div>


