<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"
      rel="stylesheet">
<!--footer start from here-->
<div class="navbar row-fluid">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 footer-left ">
        <br>
        <p style="color: #EFEFEF"><i class="fa fa-phone"></i> Phone (Minsk): +00 0000 000 000</p>
        <p style="color: #EFEFEF"><i class="fa fa-envelope"></i> E-mail: kerminsk@gmail.com</p>
        <p style="color: #EFEFEF"> Адрес: Гикало, 4</p>
        <br>
        <p style="color: #EFEFEF">© 2017 - Kira Emchik</p>
      </div>
      <div class="col-md-3 col-sm-3 ">
        <br>
        <h4 style="color: #EFEFEF">Время работы:</h4>
        <h4 style="color: #EFEFEF">Пн-Вс</h4>
        <h4 style="color: #EFEFEF" >9.00 - 20.00</h4>
        <br>
      </div>

    </div>
  </div>
</footer>
</div>
<!--footer start from here-->

